<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav class='navbar navbar-default navbat-static-top'>
      <div class="cointainer">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'index' %}" class="navbar-brand">INDEX</a></li>
          <li><a href="{% url 'admin:index' %}" class="navbar-link">Admin</a></li>
          <li><a href="{% url 'account:student_register' %}" class="navbar-link">Student Register</a></li>
          <li><a href="{% url 'account:teacher' %}" class="navbar-link">Teacher Register</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}" class="navbar-link">Logout</a> </li>
          {% else %}
          <li><a href="{% url 'account:user_login' %}" class="navbar-link">Login</a></li>
          {% endif %}
        </ul>

      </div>

    </nav>
    <div class="cointainer">
      {% block body_block %}

      {% endblock %}
    </div>

  </body>
</html>
