{% extends 'account/base.html' %}
{% block body_block %}
<div class="cointainer">
  <h1>List of Chapters</h1>
  <ol>
    {% for x in mcqexam_list %}
    <h2> <a href="{{ x.id }}">{{x.exam_topic}}</a></h2>
    <a href="{% url 'account:delete' x.id %}">Delete</a>
    <a href="{% url 'account:result_teacher' x.id %}">Click here to see students result in {{x.exam_topic}}</a>
    {% endfor %}
  </ol>
    <a href="{% url 'account:create' %}">Please click here to create a new topic</a>


</div>

{% endblock %}
